@import 'VariableSetup.scss';//import shared colors/fonts/vars
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");


.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:$blk;
  background-color: $offWhite;
  min-height:100vh;
  position:relative;
  display: flex;
  flex-direction: column;
  margin:auto;
}

.App-header, .App-footer{
  background: linear-gradient(to right, $lightAqua, $aqua);
  color:$offWhite;
  width:100%;
}

.App-header {
  min-height:20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0vh 5.5vh 6vh -7vh $blk;
 //add a box shadow x, y, blur, spread
}

.App-footer {
  min-height:5vh;
  position:absolute;
  bottom:0;
   //add a box shadow
   box-shadow: 0vh 5.5vh 6vh 2.5vh $blk;
}

h1{
  width:100%;
  margin:auto;
  letter-spacing: .25em;
}


@media(max-width:768px){
  h1{
   // letter-spacing: .25em;
    font-size:2em;
  }

  h2{
     font-size:1.5em;
   }
}

@media(max-width:420px){
  h1{
    font-size:1.5em;
  }

  h2{
     font-size:1em;
   }

   .App-header {
    min-height:15vh;

  }
}