.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  /* justify-content: center; */
  padding-top:5vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.List{
list-style-type: none;
}

.List li{
float:left;
}

.List button{

}

.Input input{
  text-align: center;
}