$drkgray:rgb(39, 40, 47);
$aqua : rgb(103, 222, 243);
$lightAqua:rgb(177, 235, 245);
$offWhite : rgb(233, 231, 231);
$blk : black;
$red : red;
$aquaText : rgb(39, 120, 131);



/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
